<!DOCTYPE html>
<html>
  <head>
    <title>Storywiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- jQuery (obligatoire) -->
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js", defer: true %>

    <!-- Turn.js -->
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/turn.js/0.11/turn.min.js"></script> %>
    <%= javascript_include_tag "lib/turn.js", "data-turbo-track": "reload", defer: true  %>

  </head>

  <body>
    <%= yield %>

    <div data-controller="story-generator">
      <%= render "shared/navbar" %>
    </div>
  </body>
</html>
